[submodule "calico-helm-chart"]
	path = calico-helm-chart
	url = https://github.com/flexkube/calico-helm-chart.git
[submodule "kubernetes-helm-chart"]
	path = kubernetes-helm-chart
	url = https://github.com/flexkube/kubernetes-helm-chart.git
[submodule "kube-apiserver-helm-chart"]
	path = kube-apiserver-helm-chart
	url = https://github.com/flexkube/kube-apiserver-helm-chart.git
[submodule "kubelet-rubber-stamp-helm-chart"]
	path = kubelet-rubber-stamp-helm-chart
	url = https://github.com/flexkube/kubelet-rubber-stamp-helm-chart.git
[submodule "hcloud-csi-helm-chart"]
	path = hcloud-csi-helm-chart
	url = https://github.com/flexkube/hcloud-csi-helm-chart.git
